body {
  font-family: monospace;
}

nav {
    background-color: darksalmon;
}

nav ul {
  list-style-type: none;
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
}

nav a{
  text-shadow: 1px 1px #000;
}

img {
  float: left;
  width: 100%;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 20px;
  padding: 20px;
}

.greybox {
  background-color: lightgrey;
  text-shadow: 1px 1px darksalmon;
  border-radius: 15px;
  padding-bottom: 10px;
}

#bicycle {
  margin-top: 20px;
  width: 96%;
}

#name {
  font-family: Brush Script MT;
font-size: 30px;
}
