body {
  font-family: monospace;
  background-color: black;
}

nav {
    background-color: darksalmon;
}

nav ul {
  list-style-type: none;
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
}

nav a{
  text-shadow: 1px 1px #000;
}

img {
  float: left;
  width: 100%;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 20px;
  padding: 20px;
}

ol {
  font-size: 25px;
  list-style-position: inside;
}

.greybox {
  background-color: lightgrey;
  text-shadow: 1px 1px darksalmon;
  border-radius: 15px;
  padding-bottom: 10px;
}

a:hover {
  color: darksalmon;
}

.active a {
  color: black !important;
  background-color: lightgrey !important;
  text-shadow: 1px 1px darksalmon;
}

.anchors a{
  font-size: 20px;
  background-color: darksalmon;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  padding: 3px;
  text-shadow: 1px 1px white;
}

.anchors a:hover {
  text-decoration: none;
  background-color: black;
  color: white;
  border-color: darksalmon;
}

.rowboxes {
  border: 3px solid black;
  border-radius: 15px;
  margin: 3px;
  background-color: lightgrey;
}

#name {
  font-family: Brush Script MT;
font-size: 30px;
}
